@font-face {
    font-family: "iconfont";
    src: url('iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}

.icon-square-o:before {
    content: "\e71e";
}

.icon-check-square-o:before {
    content: "\e646";
}

.icon-calendar-check:before {
    content: "\ef5b";
}

.icon-check:before {
    content: "\e648";
}  

.icon-history:before {
    content: "\e6b6";
}

.icon-scan:before {
    content: "\e701";
}

.icon-et-checking-in:before {
    content: "\e647";
}

.icon-help:before {
    content: "\e603";
}

.icon-stop:before {
    content: "\e727";
}

.icon-play:before {
    content: "\e6f9";
}

.icon-film:before {
    content: "\e692";
}

.icon-music:before {
    content: "\e6e5";
}

.icon-unlock-alt:before {
    content: "\e74c";
}

.icon-paper-plane:before {
    content: "\e6ea";
}

.icon-thumbs-o-down:before {
    content: "\e73d";
}

.icon-thumbs-o-up:before {
    content: "\e73e";
}

.icon-plus:before {
    content: "\e620";
}

.icon-comment:before {
    content: "\e6a7";
}

.icon-chevron-left:before {
    content: "\e64a";
}

.icon-chevron-right:before {
    content: "\e64b";
}

.icon-close:before {
    content: "\e653";
}

.icon-collect:before {
    content: "\e6b3";
}

.icon-uncollect:before {
    content: "\e6b4";
}

.icon-map:before {
    content: "\e6d6";
}

.icon-search:before {
    content: "\e70a";
}

.icon-share:before {
    content: "\e70e";
}

.icon-user:before {
    content: "\e751";
}

.icon-cog:before {
    content: "\e659";
}

.icon-cogs:before {
    content: "\e65a";
}

.icon-baocun:before {
    content: "\e605";
}