$primary: #0c0f18;
$primaryText: #a1a5ab;

$second: #131921;
$secondText: #969ca6;

$bg: #0c0f18;
$color: #fff;

$btn: #ff4351;
$btnText: #fff;

$cancel: $secondText;
$cancelText: $second;

$white: #fff;
$hr: 1px solid #ccc;
$red: #d22222;
$lineHeight: 2.5rem;